<div class="page-container">
    <h1>Mercury</h1>
    <div class="inner-container">
        <div class="text-container">
            <p>Mercury is the smallest planet in the Solar System and the closest to the Sun. It approximately 58 million km (36 million mi) from the sun.</p>
            <p>Mercury is named after the Roman deity Mercury, the messenger of the gods.</p>
            <p>Mercury is one of four terrestrial planets in the Solar System, and is a rocky body like Earth.</p>
            <p>It is the smallest planet in the Solar System, with an equatorial radius of 2,439.7 kilometres (1,516.0 mi).</p>
            <p>Mercury is also smaller—albeit more massive—than the largest natural satellites in the Solar System, Ganymede and Titan.</p>
            <p>Mercury consists of approximately 70% metallic and 30% silicate material.</p>
            <p>Mercury's density is the second highest in the Solar System at 5.427 g/cm³, only slightly less than Earth's density.</p>
            <p>The Sun is 277 times larger than Mercury. 21 million Mercury-sized planets could fit inside the Sun.</p>
        </div>
        <div class="image-container">
            <div class="solar-system">
                <img src="../../assets/Sun.png" alt="Sun" class="planet sun">
                <div class="orbit mercury-orbit"><img src="../../assets/Mercury.png" alt="Mercury" class="planet mercury"></div>
            </div>
        </div>
    </div>
</div>