<div class="page-container">
    <img src="../../assets/Sun.png" alt="Sun" class="planet sun">
    <img src="../../assets/Mercury.png" alt="Mercury" class="planet mercury">
    <img src="../../assets/Venus.png" alt="Venus" class="planet venus">
    <img src="../../assets/Earth.png" alt="Earth" class="planet earth">
    <img src="../../assets/Mars.png" alt="Mars" class="planet mars">
    <img src="../../assets/Jupiter.png" alt="Jupiter" class="planet jupiter">
    <img src="../../assets/Saturn.png" alt="Saturn" class="planet saturn">
    <img src="../../assets/Uranus.png" alt="Uranus" class="planet uranus">
    <img src="../../assets/Neptune.png" alt="Neptune" class="planet neptune">
</div>