<nav class="solar-nav">
    <ul>
        <li><a href="#home"><img src="../../assets/Solar-system.png" alt="Solar System" class="icon">Home</a></li>
        <li><a href="#mercury"><img src="../../assets/Mercury.png" alt="Mercury" class="icon">Mercury</a></li>
        <li><a href="#venus"><img src="../../assets/Venus.png" alt="Venus" class="icon">Venus</a></li>
        <li><a href="#earth"><img src="../../assets/Earth.png" alt="Earth" class="icon">Earth</a></li>
        <li><a href="#mars"><img src="../../assets/Mars.png" alt="Mars" class="icon">Mars</a></li>
        <li><a href="#jupiter"><img src="../../assets/Jupiter.png" alt="Jupiter" class="icon">Jupiter</a></li>
        <li><a href="#saturn"><img src="../../assets/Saturn.png" alt="Saturn" class="icon">Saturn</a></li>
        <li><a href="#uranus"><img src="../../assets/Uranus.png" alt="Uranus" class="icon">Uranus</a></li>
        <li><a href="#neptune"><img src="../../assets/Neptune.png" alt="Neptune" class="icon">Neptune</a></li>
    </ul>
</nav>