.solar-system {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: top;
}

.solar-system::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
  }

.orbit {
    position: absolute;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: orbit linear infinite;
}

.planet {
    position: absolute;
}

.sun {
    width: 170px;
    height: auto;
}

.mercury {
    width: 20px;
    height: auto;
    margin: 18% auto;
}

.venus {
    width: 30px;
    height: auto;
    margin: 17% auto;
}

.earth {
    width: 35px;
    height: auto;
    margin: 20% auto;
}

.mars {
    width: 25px;
    height: auto;
    margin: 27% auto;
}

.jupiter {
    width: 60px;
    height: auto;
    margin: 21% auto;
}

.saturn {
    width: 55px;
    height: auto;
    margin: 24% auto;
}

.uranus {
    width: 45px;
    height: auto;
    margin: 30% auto;
}

.neptune {
    width: 40px;
    height: auto;
    margin: 33% auto;
}

.mercury-orbit {
    width: 130px;
    height: 130px;
}

.venus-orbit {
    width: 180px;
    height: 180px;
}

.earth-orbit {
    width: 250px;
    height: 250px;
}

.mars-orbit {
    width: 300px;
    height: 300px;
}

.jupiter-orbit {
    width: 440px;
    height: 440px;
}

.saturn-orbit {
    width: 550px;
    height: 550px;
}

.uranus-orbit {
    width: 700px;
    height: 700px;
}

.neptune-orbit {
    width: 850px;
    height: 850px;
}