<div class="solar-system">
    <div class="planet sun"></div>
    <div class="orbit mercury-orbit"><img src="../../assets/Mercury.png" alt="Mercury" class="planet mercury"></div>
    <div class="orbit venus-orbit"><img src="../../assets/Venus.png" alt="Venus" class="planet venus"></div>
    <div class="orbit earth-orbit"><img src="../../assets/Earth.png" alt="Earth" class="planet earth"></div>
    <div class="orbit mars-orbit"><img src="../../assets/Mars.png" alt="Mars" class="planet mars"></div>
    <div class="orbit jupiter-orbit"><img src="../../assets/Jupiter.png" alt="Jupiter" class="planet jupiter"></div>
    <div class="orbit saturn-orbit"><img src="../../assets/Saturn.png" alt="Saturn" class="planet saturn"></div>
    <div class="orbit uranus-orbit"><img src="../../assets/Uranus.png" alt="Uranus" class="planet uranus"></div>
    <div class="orbit neptune-orbit"><img src="../../assets/Neptune.png" alt="Neptune" class="planet neptune"></div>
</div>